build/*
cmake/
dist/
docker/
flexlm/
hooks/
hw_self_test/
legacy/*
install_env/
pkg_req/
mars-gen/doc
mars-gen/dsa_xilinx
mars-gen/example
mars-gen/test
mars-gen/tools/* 
merlin/
regression_test/
release_package/
runtime/
self_test/
source-opt/*
test/
*.tgz
CMakeLists.txt
filter_warnings.py
gen_version.sh
make_dist.pl
Makefile
nondefine
PREP.md
README.md
!build/bin
!build/.version
!legacy/script
!mars-gen/tools/llvm
!mars-gen/tools/add_header
!source-opt/include
